:root {
  --background-color: #212529;
}
html, body {
  height: 100%;
  background-color: var(--background-color);
  color: white;
  text-align: center;
  padding: 1rem;
}

html, body, pre, code, kbd, samp {
  font-family: "Press Start 2P"
}